[Unit]
Description=sniproxy server
[Service]
Restart=always
ExecStart=/usr/sbin/sniproxy -f -c /etc/sniproxy.conf
[Install]
WantedBy=multi-user.target
